
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.bg-body {
  background: $body-bg;
}
.horizontal-separator {
  border: 1px solid #3490dc; width: 5%; height: 1px; margin-top: 1em; margin-bottom: 2em
}
